* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.links a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container header {
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.container header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container main h1 {
  margin: 20px 0;
}

.container main .product {
  padding: 10px;
  float: left;
  width: calc(100% / 3);
}

.container main .product > img {
  width: 100%;
}

.container main .product > .title {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0;
}

.container main .product > .description ul {
  list-style: none;
}

.container footer {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container footer h1 {
  margin: 20px 0;
}

.container footer .column {
  width: calc(100% / 3);
}

.container footer .column ul {
  list-style: none;
}

