$base-color: #636b6f;

@mixin flex-center-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex-center-v {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: $base-color;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.links a {
    color: $base-color;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {

  width: 80%;
  margin: 0 auto;


  header {
    height: 300px;

    @include flex-center-v;

    ul {
      list-style-type: none;

      @include flex-center-h;
    }

    // debug
    // background-color: coral;
  }
  main {
    h1 {
      margin: 20px 0;
    }
    .product {
      padding: 10px;
      float: left;
      width: calc(100% / 3);
    }
    .product > img {
      width: 100%;
    }
    .product > .title {
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      padding: 5px 0;
    }
    .product > .description ul {
      list-style: none;
    }
    // debug
    // height: 500px;
    // background-color: green;
  }
  footer {

    padding: 20px 0;

    h1 {
      margin: 20px 0;
    }

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .column {
      width: calc(100% / 3);
    }
    .column ul {
      list-style: none;
    }
    // debug
    // height: 300px;
    // background-color: coral;
  }
}
